body{
    margin: 0 auto;
    background-color: azure;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-menu{
    border: 3px solid green;
    font-size: 30px;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.nav-menu-link{
    color: brown;
    text-decoration: none;
}

.main-part{
    border: 3px solid red;
}

.product-list{
    text-align: center;
    list-style-position: inside;
    list-style-type: none;
    font-size: 20px;
}

.product{
    padding-top: 50px;
    width: 450px;
}

.product-name{
    text-decoration: none;
    color: black;
}

.list-heading{
    text-align: center;
    font-size: 26px;
    color: blueviolet;
}

.contact-main > a{
    display: block;
    font-size: 18px;
    padding-top: 10px;
}

.contact-main > p{
    font-style: italic;
    font-size: 20px;
}

.contact-main{
    text-align: center;
    margin-top: 60px;
}

.index-main > h3{
    font-style: italic;
    color: blueviolet;
    font-size: 26px;
}